.market-new-pop {
    .dialog__content {
        width: 650px;
        height: 720px;
        padding: 0 0 100px 0;
        border-radius: 10px;
    }

    .market-new-pop-cnt, .dialog-center {
        height: 100%;

        .scrollbar-container {
            padding: 0 20px;
        }
    }

    .market-new-pop-cnt {
        padding: 10px 0;
    }
}

.market-new-pop-cnt-area-li {
    .li-block-form {
        .ui-li-block-ipt-form {
            .ul {
                .li {
                    float: left;
                    width: 150px;
                    margin-right: 20px;

                    .select {
                        width: 100%;

                        .ant-select-selector {
                            height: 38px;
                            border-radius: 5px;
                            border: 1px solid #e6e6e6;

                            .ant-select-selection-placeholder {
                                line-height: 38px;
                            }

                            .ant-select-selection-item {
                                line-height: 38px;
                                // color: #bfbfbf;
                            }
                        }
                    }
                }
            }
        }
    }
}

.market-new-pop-ui-li-address {
    margin-bottom: 20px;

    .li-block-form {
        .address-ipt {
            .ipt {
                margin-right: 80px;
            }

            .search-btn {
                float: right;
                width: 70px;
                height: 38px;
            }
        }
    }

    .map {
        height: 260px;
        margin-top: 20px;
    }
}

.market-detail-carousel {
    padding-left: 120px;

    .cover-img {
        position: relative;

        .delete-btn {
            position: absolute;
            top: 0;
            right: 0;
            height: 20px;
            padding: 0 5px;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            color: #fff;
        }

        img {
            width: 100%;
            height: 160px;
        }
    }

    .no-text {
        height: 160px;
        text-align: center;
        line-height: 100px;
    }
}

.market-new-pop-cover-ui-li {
    height: 160px;

    .block-childer {
        border: none;
        padding: 0;
    }
}

.market-new-pop-btn {
    padding: 10px 20px 0 20px;
}
